@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --nav-bg-clr: #fff;
    --index-1: 1;
    --index-highest: 2;
    --card-max-width: 11em;
    --card-img-height: 15em;
    --light-border: #f0ebeb;
    --danger-colour: #ef4444;
    --primary-colour: #00b594;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

html {
    overflow-x: hidden;
}

.loading-svg {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

@import url("https://openui.netlify.app/css/components.css");
/* @import url("./css/Avatar/avatar.css");
@import url("./css/Alert/alert.css");
@import url("./css/Badge/badge.css");
@import url("./css/Button/button.css");
@import url("./css/Card/card.css");
@import url("./css/Image/image.css");
@import url("./css/Input/input.css");
@import url("./css/Lists/lists.css");
@import url("./css/Navigation/navigation.css");
@import url("./css/Toast/toast.css");
@import url("./css/utilities.css"); */
@import url("./components/Header/Header.css");
@import url("./components/ProductCard/ProductCard.css");
@import url("./Pages/ProductListing/ProductListing.css");
@import url("./Pages/ProductListing/components/ProductsGrid/ProductsGrid.css");
@import url("./Pages/ProductListing/components/Desktop/SidePannel/SidePannel.css");
@import url("./Pages/ProductListing/components/Desktop/SortByDropDown/SortByDropDown.css");
@import url("./Pages/ProductListing/components/Mobile/FooterButtons/FooterButtons.css");
@import url("./Pages/ProductListing/components/Mobile/SortPage/SortPage.css");
@import url("./Pages/ProductListing/components/Mobile/FilterPage/FilterPage.css");
@import url("./Pages/WishList/WishList.css");
@import url("./components/CheckOutHeader/CheckOutHeader.css");
@import url("./Pages/Cart/Cart.css");
@import url("./Pages/Cart/CartCard/CartCard.css");
@import url("./Pages/404/Page404.css");
@import url("./Pages/Login/Login.css");
@import url("./Pages/Signup/Signup.css");
@import url("./Pages/Home/Home.css");
@import url("./Pages/Account/Account.css");
