.drop-down {
    display: none;
}

.products {
    margin: 0em 0.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    padding-left: 0;
    grid-area: products;
}

.card {
    justify-self: center;
}

.mobile-footer {
    position: fixed;
    bottom: 0em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    height: 3em;
    width: 100vw;
    border-top: 1px solid var(--light-border);
}

.mobile-footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: none;
}

.mobile-footer-button-label {
    margin-left: 0.5em;
}

@media (min-width: 755px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 874px) and (min-height: 500px) {
    .products-main-container {
        display: grid;
        grid-template-columns: 35vw 65vw;
        grid-template-areas:
            "header header"
            "sidepannel dropdown"
            "sidepannel products";
    }

    .drop-down-container {
        grid-area: dropdown;
        margin-right: 6.2em;
        display: flex;
        justify-content: flex-end;
    }

    .drop-down {
        display: block;
        position: relative;
        z-index: var(--index-1);
        font-size: 0.9rem;
        font-weight: 300;
        width: 18em;
    }

    .drop-down-display {
        border: 1px solid #dfdede;
        padding: 0.5em 1em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .drop-down-selected > b {
        font-weight: 500;
    }

    .down-arrow {
        margin-top: 0.4em;
        transform: scale(1.4);
        color: #c9c7c7;
    }

    .drop-down-items-container {
        display: none;
        list-style: none;
        position: absolute;
        padding: 1em 0em;
        border: 1px solid #dfdede;
        border-top: 0;
        width: 100%;
        background-color: #fff;
    }

    .drop-down-items {
        padding: 0.5em 1em;
    }

    .drop-down-items:hover {
        background-color: #f4f4f5;
    }

    .drop-down:hover .drop-down-items-container {
        display: block;
    }

    .products {
        margin-top: 2em;
        gap: 10px 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        justify-self: unset;
    }

    .mobile-footer {
        display: none;
    }
}

@media (min-width: 1188px) {
    .products-main-container {
        grid-template-columns: 30vw 70vw;
        grid-template-areas:
            "header header"
            "sidepannel dropdown"
            "sidepannel products";
    }
    .products {
        grid-template-columns: repeat(3, 1fr);
        margin-right: 4em;
    }
}

@media (min-width: 1440px) {
    .products-main-container {
        grid-template-columns: 25vw 75vw;
        grid-template-areas:
            "header header"
            "sidepannel dropdown"
            "sidepannel products";
    }
    .products {
        grid-template-columns: repeat(4, 1fr);
        margin-right: 5em;
    }
}
