.card {
    justify-self: center;
    text-align: center;
    width: 11em;
    color: #000;
}

.card > a {
    text-decoration: none;
}

.card-cover {
    height: 13em;
}

.card-icon {
    right: 1.5em;
}

.heart-svg,
.filled-heart-svg {
    transform: scale(1.5);
}

.close-button {
    transform: scale(1.5);
}

.card-text {
    text-align: left;
}

.card-heading {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1rem;
}

.card-sub-heading {
    font-size: 0.8rem;
}

.card-price {
    font-size: 0.9rem;
}

.add-to-cart-button,
.move-to-cart-button,
.go-to-cart-button {
    width: 100%;
    border: none;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.7em;
    margin-top: 0.7em;
    cursor: pointer;
    background-color: var(--primary-colour);
}

.go-to-cart-button {
    display: flex;
    justify-content: center;
}

.go-to-cart-button > svg {
    margin-top: 0.5;
    margin-left: 0.5em;
    transform: scale(1.2);
}

.add-to-cart-button:hover,
.move-to-cart-button:hover,
.go-to-cart-button:hover {
    background-color: #59d4be;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}

@media (max-width: 350px) {
    .card {
        width: 9em;
    }

    .card-cover {
        height: 12em;
    }
}

@media (min-width: 411px) {
    .card {
        width: 12em;
    }
}

@media (min-width: 874px) and (min-height: 500px) {
    .card {
        justify-self: unset;
    }
}
