.cart-card {
    background-color: #fff;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.horizontal-card .card-sub-heading {
    font-size: 0.85rem;
}

.horizontal-card .card-text {
    line-height: 1.2em;
}

.card-seller {
    font-size: 0.8rem;
    color: #7c7c7c;
}

.cart-card-footer {
    font-size: 0.8rem;
    border-top: 1px solid #ececec;
}

.cart-card-footer-remove-button,
.cart-card-footer-wishlist {
    padding: 1.2em;
}

.cart-card-footer-remove-button {
    font-size: 0.75rem;
    font-weight: 500;
    color: #686868;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    width: 24%;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #e2e2e2;
    cursor: pointer;
}

.cart-card-footer-wishlist {
    font-size: 0.75rem;
    font-weight: 500;
    color: #686868;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    width: 75%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

@media (min-width: 768px) and (min-height: 500px) {
    .cart-card {
        width: 100%;
        max-width: 40em;
        border: 1px solid #ececec;
    }
}
