.sort-page {
    position: fixed;
    top: 0;
    z-index: var(--index-1);
    height: 100vh;
    width: 100vw;
}

.sort-page-background {
    background-color: #686666;
    height: 60vh;
    opacity: 0.5;
}

.sort-page-list {
    background-color: #fff;
    opacity: 1;
    height: 40vh;
    padding: 1em;
    list-style: none;
}

.sort-page-list-heading {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--light-border);
    padding-bottom: 0.8em;
}

.sort-page-list-item {
    font-size: 0.9rem;
    margin: 1.6em 0;
}
