.nav {
    padding-bottom: 0.3em;
    grid-area: header;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #e2dede;
    z-index: 3;
}

.nav-brand-link {
    margin-top: 0.1em;
}

.nav-brand-link > span {
    padding: 0;
    padding-top: 0.3em;
}

.nav-brand-logo {
    width: 2em;
}

.nav-link-section {
    margin-right: 0.5em;
}

.nav-btns {
    border-radius: 25%;
    border: 1px solid #c9c5c5;
    padding: 0.8em;
    padding-bottom: 0.5em;
    margin: 0.2em;
    color: #000;
}

.cart-svg,
.heart-svg,
.logout-svg {
    transform: scale(1.5);
}

.avatar > img {
    margin-top: 0.1em;
}

@media (min-width: 480px) and (max-width: 768px) {
    .nav-brand-link > span {
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    .nav {
        padding: 0 0.2em;
        padding-top: 0.3em;
        padding-bottom: 0.6em;
        border: none;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    }

    .nav-brand-link {
        margin-top: 0;
        margin-left: 0.8em;
    }

    .nav-link-section {
        margin-top: 0.3em;
        margin-right: 1em;
    }

    .profile-button {
        display: block;
    }
}

@media (min-width: 874px) {
    .nav-brand-link {
        margin-left: 2.5em;
    }

    .nav-link-section {
        margin-right: 4.5em;
    }
}
