.nav {
    padding-bottom: 0.3em;
    grid-area: header;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #e2dede;
}

.nav-brand-link {
    margin-left: 0.5em;
    margin-top: 0.1em;
}

.nav-brand-link > span {
    padding: 0;
    padding-top: 0.3em;
}

.nav-search {
    display: none;
}

.search-svg {
    transform: scale(1.3);
    cursor: pointer;
}

.nav-link-section {
    margin-right: 0.5em;
}

.nav-btns {
    border-radius: 25%;
    border: 1px solid #e2dede;
    padding: 0.5em;
    padding-bottom: 0.3em;
    margin: 0.2em;
    color: #000;
}

.cart-svg,
.profile-svg {
    transform: scale(1.2);
}

.profile-button {
    /* display: none; */
}

.avatar {
    /* display: none; */
}

.avatar > img {
    margin-top: 0.1em;
}

@media (min-width: 480px) and (max-width: 768px) {
    .nav-brand-link > span {
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    .nav {
        padding: 0 0.2em;
        padding-top: 0.3em;
        padding-bottom: 0.6em;
        border: none;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    }

    .nav-brand-link {
        margin-top: 0;
        margin-left: 0.8em;
    }

    .nav-search {
        border: 1px solid #e2dede;
        height: 1.8em;
        padding-right: 0.8em;
        border-radius: 0.3em;
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin: 0 0.5em;
        margin-top: 0.3em;
        min-width: 13em;
        max-width: 50vw;
    }

    .nav-search > input {
        display: block;
        border: none;
        padding: 0.5em 1em;
        height: 100%;
        width: 100%;
        border-radius: 0.5em;
        margin-right: 1em;
    }

    .search-svg {
        transform: scale(1.1);
        cursor: pointer;
    }

    .nav-search-btn {
        display: none;
    }

    .nav-link-section {
        margin-top: 0.3em;
        margin-right: 1em;
    }

    .profile-button {
        display: block;
    }

    .profile-svg {
        transform: scale(1.2);
    }
}

@media (min-width: 874px) {
    .nav-brand-link {
        margin-left: 2.5em;
    }

    .nav-link-section {
        margin-right: 4.5em;
    }
}
