.profile-page {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.password-change-form {
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em 2em;
    border-radius: 0.2em;
    width: 80%;
    max-width: 20em;
    height: max-content;
    margin-top: 3em;
}

.password-change-form-heading {
    margin-bottom: 0.5em;
    font-size: 1.3rem;
    float: left;
}

.password-change-form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.password-change-form-input > label {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0.2em;
    margin-left: 0.2em;
}

.password-change-form-input > input {
    height: 2.2em;
    padding: 0 0.5em;
    margin-bottom: 0.6em;
    width: 100%;
    border-radius: 0.2em;
    border: 1px solid #8b8b8b;
}

.password-change-form-button {
    width: 100%;
    padding: 0.5em 0;
    margin: 1em 0;
    border: 1px solid #8b8b8b;
    border-radius: 0.2em;
}

.logout-button {
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    padding: 0.4em 1em;
    background-color: #dc2626;
    border-radius: 0.2em;
    border: 1px solid #8b8b8b;
    color: #f3efef;
    width: 13em;
}
